@import '../../../ui/colors.scss';

.page-wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 30px;

  background-color: $bg-main;

  .content-wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;

    background-color: $bg-light;
  }
}
